<button (click)="state=undefined; fetchTopPlants()">View USA's Top Plants</button>
&nbsp;
<select [(ngModel)]="selectedLimitValue" (change)="fetchTopPlants()">
  <option [value]="limit" *ngFor="let limit of limitValues">{{ limit }}</option>
</select>
Showing top {{ selectedLimitValue }} plants based on Net Generation
<br />
<br />
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
  (mapReady)="mapReadyHandler($event)">
  >

  <agm-marker *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.state, m.netGeneration, infoWindow)" [latitude]="m.lat" [longitude]="m.lng"
    [markerDraggable]="m.draggable">

    <agm-info-window #infoWindow [disableAutoPan]="false">
      <strong>Plant Name: </strong>{{ m.name }}
      <br />
      <strong>Net Generation: </strong>{{ m.netGeneration }}
      <br />
      <strong>Percentage: </strong>{{ percentage }}
    </agm-info-window>

  </agm-marker>

  <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true"
    [editable]="true">
  </agm-circle>

</agm-map>
